# Название 
name: playwright api and ui tests 
# Когда запускаем 
on: 
  push:
    branches:
      - main
# Ручной запуск 
  workflow_dispatch: 
# Задания
jobs: 
  pw5Tests:
  #ОП
    runs-on: ubuntu-latest
    steps:
    #npm install/npm ci
      # копирование кода на виртуальную машину
    - name: Checkout
      uses: actions/checkout@v6.0.1
    - name: SetUp Node.js enviroment 
      uses: actions/setup-node@v4
    - name: Установка nmp пакеты из package.json 
      run: npm install
    - name: Установка браузеров
      run: npx playwright install --with-deps
    - name: Запуск автотестов
      run: npm t
  
